  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 



 /* Extra small devices (phones) */
 @media only screen and (max-width: 667px) {
  .navbar-brand {font-size: 155% !important}
  .quote-text {font-size: 105%;}
  .table thead th {font-size: 100% !important;}
  .table td,.table th {font-size: 80% !important;}
  .register-form {width: 80%;}
  .login-form {width: 80%;}
  .banner-text {font-size: 400%;}
  .sub-banner-text {font-size: 250%;}
  .contact-info-heading {font-size: 200%;}
  .form-heading {font-size: 200%;}
  .google-map-heading {font-size: 200%;}
  .gallery-tile {margin-left: auto; margin-right: auto; width: 80%;}
  .gallery-heading {font-size: 200%;}
  .admin-tile-heading {font-size: 200%;}
  .admin-tile {margin-left: auto; margin-right: auto; width: 80%;}
  .admin-form-heading {font-size: 200% !important;}
}


 /* Small devices (portrait tablets and large phones) */
 @media only screen and (min-width: 600px) {
  .navbar-brand {font-size: 280% !important;}
  .login-form {width: 60%; }
  .register-form {width: 60%};
 }
 

 /* Medium devices (landscape tablets) */
 @media only screen and (min-width: 768px) {
  .navbar-brand {font-size: 280% !important;}
  .login-form {width: 60%;}
  .register-form {width: 60%};
 }
 

 /* Large devices (laptops/desktops) */
 @media only screen and (min-width: 992px) {
   .navbar-brand {font-size: 280% !important;}
  }
 

 /* Extra large devices (large laptops and desktops) */
 @media only screen and (min-width: 1200px) {
  .navbar-brand {font-size: 280% !important;}
  .banner-text {font-size: 1000%;}
 } 

