/* Clear any existing mock ups on body */
.body {
  margin: none;
  padding: none;
}


/* Primary navbar heading (overiding bootstrap) */
.navbar-brand {
  font-family: "Lato", sans-serif !important;
  font-size: 3.00rem !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  padding: none !important;
}


/* Navigation links (overiding bootstrap) */
.nav-link {
  font-family: "Lato", sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: 500 !important;
}


/* Small round social media icons in the appbar  */
.header-sm-icons-ui {
  display: inline-flexbox;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: .4rem;
}


/* Styling for the page wrapper (overiding bootstrap) */
.container {
  padding: 1% !important;
  width:100% !important;
  max-width: 1920px !important;
}


/* Styling for banner image col */
.image-col-banner {
  padding: 1%;
}


/* Styling for the page banner image (large thin image) */
.banner-image {
  width: 100%;
  border: thin black solid;
}


/* Styling for the page sub-banner image (large thin image) */
.sub-banner-image {
  width: 100%;
  border: thin black solid;
}


/* Large white heading text on page banner image */
.banner-text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  position: absolute;
  bottom: 3.2%;
  left: 3.2%;
}


/* Large white heading text on page banner image */
.sub-banner-text {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  bottom: 3.0%;
  left: 3.0%;
}


/* Padding for rows */
.row-padding {
  padding: 1%;
}


/* Column for displaying images */
.image-col-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}


/* Quote col styling */
.quote-col {
padding: 1%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

/* Text col styling */
.text-col {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

/* Quote text styling */
.quote-text {
  padding: 3% 10% 3% 10%;
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-size: 150%;
  font-weight: 400;
  top:5px;
}


/* Menu headings for name, desc, price */
.menu-headings {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}


/* table text (overriding bootstrap) */
.table td, .table th {
  font-family: "Merriweather", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 200 !important;
}


/* Menu sorting buttons styling */
.menu-button {
  padding-bottom: 1%;
}


.btn-outline-secondary {
  position: relative !important;
  float: right;
  margin-right: 1%;
}





/* Table heading (overriding bootstrap) */
.table thead th{
  font-family: "Lato", sans-serif !important;
  font-size:  1.5rem !important;
  font-weight: 300 !important;
}

.regular-text {
  padding: 3% 3% 3% 3%;
  font-family: "Merriweather", sans-serif;
  font-size: 100%;
  font-weight: 200;
  display: block;
}


/* sizing for a medium portrait image */
.image-medium-portrait {
  border: black thin solid;
  width: 90%;
  height: 80%;
  justify-content: center;
}


/* sizing for a medium landscape image */
.image-medium-landscape {
  border: black thin solid;
  width: 100%;
}


.intro-text {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.sub-banner-ui {
  width: 100%;
}

.sub-banner-image-ui {
  position: relative;
  display: flex;
  left: 30%;
  justify-content: center;
  width: 70%;
  height: 370px;
  border: thin black solid;
}

.sub-banner-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  border: thin black solid;
}



/* Footer Styling */

.footer-ui {
  border: thin black solid;
}

.copyright-ui {
  font-family: "Lato", sans-serif;
  width: 20%;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 3%;
  line-height: 50px;
}

.copyright-text {
  font-size: 5px;
  font-weight: 200;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.footer-sm-icons-ui {
  position: relative;
  display: inline-block;
  width: 10%;
  left: 65%;
}

.footer-sm-icon-spacing {
  word-spacing: 5px;
}
