/* NavBar/Header Styling */

.navbar-links {
  text-align: center;
  left: 33%;
  width: 30%;
  position: relative;
  display: inline-block
}

.link {
  color: rgb(94, 89, 89);
  text-decoration: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.link:active {
    color: black;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

.navbar-spacers {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 700;
  word-spacing: 10px;
  color: black;
  position: relative;
}

.header-ui {
  border: thin black solid;
}

.header-title{
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 700;
    width: 30%;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
}



/* Footer Styling */

.footer-ui{
border: thin black solid;
}

.copyright-ui{
  font-family: "Lato", sans-serif;
  width: 20%;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 3%;
  line-height: 50px;
}

.copyright-text{
  font-size: 5px;
  font-weight: 200;
  position: relative;
  display: inline-block;
  text-decoration: none;

}

